.details-Image-wrap {
  width: 100%;
  margin-top: 16vh;
}

.details-Image {
  width: 100%;
  max-height: 100%;
  height: auto;
}

.detailsPage {
  margin-left: 23vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100vh;
  width: calc(70vw);
}

.details-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 65% 25%;
  gap: 10%;
  height: 100%;
}

.detailsMenuItem {
  height: 100vh;
}

.details-description {
  position: relative;
}

.details-description p {
  width: 100%;
  font-size: 13px;
  color: gray;
  padding: 10px;
  margin: 0;
}

.description-p span {
  position: absolute;
  right: 0;
  color: rgba(0, 0, 0, 0.884);
  font-size: 17px;
  font-weight: 600;
}

.gray {
  background-color: rgba(128, 128, 128, 0.226);
}

.details-title {
  text-transform: uppercase;
  width: 100%;
  text-align: end;
  margin-top: 16vh;
}

.circle-wrap {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background-color: rgb(59, 59, 59);
  overflow: hidden;
  z-index: 6;
  position: relative;
  margin-left: 50px;
}

.inner-degrade {
  position: absolute;
  right: 0;
  width: 70px;
  height: 140px;
  background-color: rgb(59, 59, 59);
  z-index: 9;
}

.circle-degrade {
  width: 140px;
  height: 140px;
  background: linear-gradient(180deg, rgba(0, 252, 97, 0.808) 0.81%, rgba(2, 109, 172, 0.9) 84.03%);
  z-index: 8;
  position: absolute;
  left: 0;
  animation: anim linear 4s infinite;
}

@keyframes anim {
  from { transform: rotateX(0deg); }
  to { transform: rotate(360deg); }
}

.inner-circle {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  z-index: 10;
  background-color: #fff;
  position: absolute;
  top: 25px;
  left: 25px;
}

.Reserve-details {
  padding: 12px;
  font-size: 16px;
  color: #fff;
  border-radius: 25px;
  background-color: rgb(46, 122, 2);
  border: none;
  position: absolute;
  right: 0;
  margin-top: 30px;
}

.details-reserved {
  background-color: rgba(170, 169, 169, 0.363);
  color: rgb(94, 94, 94);
}

@media screen and (max-width: 768px) {
  .detailsPage {
    margin-left: 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 90vw;
  }

  .details-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    gap: 30px;
    height: auto;
  }

  .Reserve-details {
    padding: 12px;
    font-size: 16px;
    color: #fff;
    border-radius: 25px;
    background-color: rgb(46, 122, 2);
    border: none;
    position: absolute;
    right: 0;
    bottom: 50px;
    margin-top: 5px;
  }

  .details-title {
    margin-top: 10px;
  }
}
