.splashScreen {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('../../icons/pngwing.com\(2\).png');
  background-size: 60% auto;
  background-repeat: no-repeat;
  background-position-x: 40%;
  background-position-y: 20%;
}

.splashScreen a {
  padding: 15px 20px;
  font-size: 17px;
  border-radius: 23px;
  background-color: #fff;
  color: rgba(0, 0, 0, 0.849);
  text-decoration: none;
  z-index: 10;
  font-weight: 700;
}

.splashScreen a:hover {
  color: #fff;
  background-color: rgba(5, 44, 68, 0.767);
  border: 3px #fff solid;
}

.splashScreen p {
  z-index: 10;
  color: #fff;
  width: 50%;
  text-align: center;
}

.splashScreen-overlay {
  height: 100vh;
  width: 100vw;
  background-color: rgba(5, 44, 68, 0.767);
  position: absolute;
}

.welcome-title {
  color: #fff;
  z-index: 10;
  margin-top: 45vh;
}
